* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background:  rgb(255, 255, 0) url('https://devcareer.io/images/bg.svg');
    color: rgb(4, 206, 71); */

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.wrapper {
    
    width: 22rem;
    /* padding: 2rem; */
    border-radius: 1rem;
    box-shadow: 0px;
    box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.header {
    background: url('https://devcareer.io/images/bg.svg'), linear-gradient(45deg, rgb(255, 255, 0)
    , rgb(4, 206, 71));
    padding: 1rem 2rem;
    height: 8rem;
}

.header h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
}

.header .d-flex {
    position: relative;
    margin-top: 2.5rem;
}

.header .d-flex #date {
    font-family: 'Caveat', cursive;
    font-size: 22px;
}

.header .d-flex .clear {
    position: absolute;
    right: 0;
    color: #efefef;
    cursor: pointer;
}

.header .d-flex .clear .fa-sync-alt:hover {
    transform: rotate(45deg);
}

.outputList {
    height: 20rem;
    overflow-y: scroll;
}

.outputList div {
    display: flex;
    list-style: none;
    margin: 0.24rem 0.9rem;

}

.outputList li {
    margin-left: -10rem;
}

.outputList time {
    margin-right: -10rem;
}

.outputList li {
    margin-right: auto;
    margin-left: 0.3rem;
}

.outputList time {
    margin-right: auto;
}

.checked {
    text-decoration: line-through;
    opacity: 0.3;
    cursor: pointer;
    padding: 3px;
    width: 30px;
    display: flex;
    justify-content: space-between;
}


.outputList .delete {
    font-family: 'Caveat', cursive;
    outline: none;
    padding: 3px;
    border-radius: 1rem;
    border: none;
}

.outputList .delete:hover {
    background: #f03636;
    color: #efefee;
}

.inputDiv {
    display: grid;
    margin: 0.3rem 1.5rem ;
}

.inputDiv input, .inputDiv button {
    outline: none;
    margin-top: 0.2rem;
    font-size: 18px;
    border: 1px solid #000;
}

.inputDiv button:hover {
    color: rgb(255, 255, 0);
    background: rgb(4, 206, 71);
}